/* TaskCard.css */
.task-card {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  background-color: #fff;
  margin-bottom: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between; /* Align items to the sides */
  flex-direction: column; /* Align items vertically */
  height: 280px;
  width: 700px;
  position: relative;
  
  
}

.task-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.3);
}

.task-header {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  border-radius: 16px 16px 0 0;
}

.task-title {
  font-weight: 500;
  color: #333;
}

.task-body {
  padding: 1rem 1.5rem;
  font-size: 0.75rem;
  color: #555;
  display: flex;
  flex-direction: column; /* Adjust layout for modal */
  gap: 1rem 

  
}

.task-body .task-dates {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  justify-content: space-between;
  margin-right: 2rem;
}

.task-body .task-body-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Add this line to vertically align items */
    position: relative;
    margin-right: 2rem;
}

.task-status-badge,
.task-priority-badge {
  /* Combine styles for both status and priority badges */
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  font-size: 0.75rem;
  margin-right: 0.5rem; /* Adds spacing between badges if they are next to each other */
}
/* Specific status and priority badge colors */
.task-status-badge.open {
  background-color: #5bc0de;
}
.task-status-badge.in-progress {
  background-color: #f0ad4e;
}
.task-status-badge.completed {
  background-color: #5cb85c;
}
.task-status-badge.on-hold {
  background-color: #d9534f;
}
.task-priority-badge.low {
  background-color: #5cb85c;
}
.task-priority-badge.medium {
  background-color: #f0ad4e;
}
.task-priority-badge.high {
  background-color: #d9534f;
}
.task-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem 1rem 5rem 1rem;
  position: absolute;
  right: 0.01rem; /* Adjust the spacing to the right edge */
  top: 1rem; /* Adjust the spacing to the top edge */

}
.task-action-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem; /* Adjusted for icon size */
}

.task-action-button-edit {
  color: #0275d8;
}
.task-action-button-complete {
  color: #5cb85c;
}
.task-action-button-delete {
  color: #d9534f;
}

.task-action-button:hover {
  opacity: 0.8;
}

.task-footer {
  padding: 0.75rem 1.5rem;
  background-color: #f8f9fa;
  display: flex;
  justify-content: flex-start; /* Adjust alignment as needed */
  align-items: center;
  border-top: 1px solid #eee; /* Adds a subtle line to the top of the footer */
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0 0 16px 16px;

}

/* Button styling inside the task footer */
.task-footer button {
  margin-left: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.task-footer button:hover {
  opacity: 0.9;
}
